#######################################
# Terraform
#######################################
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
*.tfvars
crash.log

#######################################
# AWS / Secrets
#######################################
*.pem
*.key
.env

#######################################
# Logs
#######################################
*.log

#######################################
# OS files
#######################################
.DS_Store
Thumbs.db

#######################################
# IDE / Editor
#######################################
.vscode/
.idea/
*.swp

